<%= bootstrap_form_for(@student, html: { class: 'form-horizontal' }) do |f| %>
  <fieldset><legend>Add a new record</legend></fieldset>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :studentid, label: 'Student ID' %>
  <%= f.text_field :studentname, label: 'Student Name' %>
  <%= f.text_field :nickname, label: 'Student Nickname' %>
  <%= f.number_field :projectscore, label: 'Project Score(40%)' %>
  <%= f.number_field :finalscore, label: 'Final Exam(40%)' %>
  <%= f.number_field :labscore, label: 'Lab Score(40%)' %>
  <%= f.number_field :classscore, label: 'Class Discussion(40%)' %>

  <%= f.submit class: "btn btn-primary btn-large" %>

<% end %>